# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.hypothesis/

# Jupyter
.ipynb_checkpoints/
# Uncomment to ignore all notebooks
# *.ipynb

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Other common
*.log
*.pot
*.mo
